body {
    background : url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

#validation_Username{
    color: white;
    font-weight: bold;
    width: 15vw;
    height: 10vh;
    font-size: x-large;
    margin-top: 5vh;
    border-radius: 15px;
    font-weight: 900;
    background-color: indianred;
    border: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
}

.show {
   opacity: 1!important;
}

#username_field{
    width: 30vw;
    height: 10vh;
    border-radius: 15px;
    border: none;
    background-color: #DEB887;
    font-size: x-large;
    padding-left: 2rem;
    font-size: x-large;
}

::placeholder{
    color: black;
}

.centerStuff {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#inputContainer{
    width: fit-content;
    height: 10vh;
}

.centerButtonWithinDiv {
    display: flex;
    justify-content: center;
}

#popupSaveDataFound {
    position: absolute;
    background-color: #DEB887;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 1rem 3.5rem 1rem 3.5rem;
}

#popupSaveDataFoundContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
}

#popupSaveDataFoundYes {
    width: 10vw;
    height: 7.5vh;
    font-size: 1.25rem;
    font-weight: 900;
    border: none;
    background-color: rgb(0, 200, 0);
    border-radius: 1rem;
    cursor: pointer;
}

#popupSaveDataFoundNo {
    width: 10vw;
    height: 7.5vh;
    font-size: 1.25rem;
    font-weight: 900;
    border: none;
    background-color: gray;
    border-radius: 1rem;
    cursor: pointer;
}

#popupSaveDataFoundDelete{
    width: fit-content;
    padding: 0 4rem 0 4rem;
    height: 7.5vh;
    font-size: 1.25rem;
    font-weight: 900;
    border: none;
    background-color: red;
    border-radius: 1rem;
    cursor: pointer;
}


#yesNoContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#nameMoneyContainer {
    display: flex;
    justify-content: space-evenly;
}