:root {
    --bg_main: #A58760;
    --bg_secondary: #5c4730;
    --bg_menu: #745D44;
}

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}

.hidden{
    display: none;
}

body {
    background : url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
#loading{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg_menu);
    transition: opacity 1s ease-in-out;
}

#loadingBar{
    width: 50vw;
    height: 5vh;
    background-color: var(--bg_main);
    border-radius: 10px;
    display: flex;
}

#loadingBarFill{
    width: 50px;
    height: 100%;
    background-color: #DEB887;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}
#loadingText{
    color: #fff;
    font-size: 2rem;
    margin-top: 2rem;
}

#gameContainer {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#clicker {
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/log1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 70%;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#clicker p {
    font-size: 5rem;
    color: #fff;
    font-weight: 700;
    margin-top: 2.5vh;
    width: fit-content;
}

#clicker button {
    width: 30vw;
    height: 80vh;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    margin-top: 5vh;
}

#panel {
    height: 90vh;
    width: 30vw;
    background-color: var(--bg_menu);
    border-radius: 10px 0 0 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}


#nameAndTimer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6%;
    width: 100%;
}
#nameAndTimer>*{
    width: 30%;
}

#manualSave {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    cursor: pointer;
    margin-left: 2vw;
    margin-bottom: 4vh;
}

#manualSaveImg{
    cursor: pointer;

    background-color: var(--bg_main);
    border-radius: 8%;
    width: 10%;
    padding: 2%;
    transition: all 0.12s ease-in-out, box-shadow 0.08s ease-in-out, transform 0.08s ease-in-out;
    box-shadow: 0rem 0.2rem 0rem 0rem #2b2b2b85;
}
#manualSaveImg:hover{
    transform: translateY(0.2rem);
    box-shadow: 0rem 0rem 0rem 0rem #2b2b2b85;
}

.upgrade, .upgradeQuantitySelector{
    transition: box-shadow 0.08s ease-in-out, transform 0.08s ease-in-out;
}
#timer {
    display: flex;
    justify-content: flex-end;
}
.statsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 1.5rem 1rem 1.5rem;
    height: 40%;
    background-color: var(--bg_main);
    border-radius: 0.5rem;
    box-shadow: 0rem 0.2rem 0rem 0rem #2b2b2b85;
}

#statsName {
    text-align: center;
}

#scrollUpgrade {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    width: 100%;
    gap: 10px;
}
.upgrade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg_main);
    cursor: pointer;
    border-radius: 0.5rem;
    user-select: none;
    width: 100%;
    flex-grow: 1;
    padding-inline: 1.5rem;
    box-shadow: 0rem 0.2rem 0rem 0rem #2b2b2b85;
}

.upgrade:hover {
    box-shadow: 0rem 0rem 0rem 0rem #2b2b2b85;
    transform: translateY(0.2rem);
}

.upgradeLevel{
    width: 30%;
    min-width:30%;
    max-width: 30%;
    text-align: left;
}

.upgradeTitle {
    width: 100%;
    text-align: center;
}

.upgradePrice {
    width: 30%;
    min-width:30%;
    max-width: 30%;
    text-align: right;
}


#quantitySelectorContainer {
    display: flex;
    justify-content: space-between;
    height: 7%;
}

.upgradeQuantitySelector {
    width: 25%;
    height: 100%;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    background-color: var(--bg_secondary);
    color: white;
    box-shadow: 0rem 0.2rem 0rem 0rem #2b2b2b85;
}

.upgradeQuantitySelector:hover {
    box-shadow: 0rem 0rem 0rem 0rem #2b2b2b85;
    transform: translateY(0.2rem);
}

#achievementAndLeaderboardContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
}

#gameIcon {
    width: 4vw;
    height: auto;
    margin-left: 1vw;
    margin-top: 4vh;
}

#logImg {
    width: 50vw;
    height: auto;
}

#gros {
    flex-grow: 1;
}

.selected {
    background-color: var(--bg_main)!important;
}

.disabled {
    background-color: var(--bg_secondary)!important;
    cursor: default!important;
}
.disabled:hover {
    box-shadow: 0rem 0.2rem 0rem 0rem #2b2b2b85!important;
    transform: translateY(0rem)!important;
}

.example::-webkit-scrollbar {
    display: none;
  }
  
.example {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

.popup{
    position: fixed;
    width: clamp(120px, 75%, 600px);
    height: 150px;
    top: 0;
    left: calc(50% - clamp(120px, 75%, 600px)/2);
    background-color: white;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    border-radius: 20px;
    z-index: 100;
    background-color: #A58760;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    border: #745D44 2px solid;
    color: white;
    padding-right: 1rem;
    cursor: pointer;
}

.popup.show{
    transform: translateY(15%);
    opacity: 1;
    pointer-events: all;
}

.popup img{
    height: 100%;
    object-fit: contain;
    width: 35%;
}

.popup > .popup_content{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 5%;
}

.popup > .popup_content > .popup_title{
    font-size: 1.5rem;
    font-weight: 700;
}

.popup > .popup_content > .popup_text{
    font-size: 1rem;
    font-weight: 400;
}

.shake {
    animation: shake 0.3s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}