:root {
    --bg_main: #A58760;
    --bg_secondary: #5c4730;
    --bg_menu: #745D44;
}

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}

.hidden{
    display: none;
}

body {
    background : url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#loading{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg_menu);
    transition: opacity 1s ease-in-out;
}

#loadingBar{
    width: 50vw;
    height: 5vh;
    background-color: var(--bg_main);
    border-radius: 10px;
    display: flex;
}

#loadingBarFill{
    width: 50px;
    height: 100%;
    background-color: #DEB887;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}
#loadingText{
    color: #fff;
    font-size: 2rem;
    margin-top: 2rem;
}

#gameContainer {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#clicker {
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/log1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 70%;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
#manualSave{
    cursor: pointer;
}
#clicker p {
    font-size: 5rem;
    color: #fff;
    font-weight: 700;
    margin-top: 2.5vh;
    width: fit-content;
}

#clicker button {
    width: 30vw;
    height: 80vh;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    margin-top: 5vh;
}

#panel {
    height: 90vh;
    width: 30vw;
    background-color: var(--bg_menu);
    border-radius: 10px 0 0 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}


#nameAndTimer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6%;
    width: 100%;
}
#nameAndTimer>*{
    width: 30%;
}
#manualSave{
    text-align: center;
    overflow: visible;
}
#manualSaveImg{
    background-color: var(--bg_main);
    border-radius: 8%;
    width: 50%;
    padding: 10%;
    transition: all 0.12s ease-in-out;
}
#timer {
    display: flex;
    justify-content: flex-end;
}
.statsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 1.5rem 1rem 1.5rem;
    height: 40%;
    background-color: var(--bg_main);
    border-radius: 0.5rem;
}

#statsName {
    text-align: center;
}

#scrollUpgrade {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    width: 100%;
    gap: 10px;
}
.upgrade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg_main);
    cursor: pointer;
    border-radius: 0.5rem;
    user-select: none;
    width: 100%;
    flex-grow: 1;
    padding-inline: 1.5rem;
}

.upgradeLevel{
    width: 30%;
    min-width:30%;
    max-width: 30%;
    text-align: left;
}

.upgradeTitle {
    width: 100%;
    text-align: center;
}

.upgradePrice {
    width: 30%;
    min-width:30%;
    max-width: 30%;
    text-align: right;
}


#quantitySelectorContainer {
    display: flex;
    justify-content: space-between;
    height: 7%;
}

.upgradeQuantitySelector {
    width: 25%;
    height: 100%;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    background-color: var(--bg_secondary);
    color: white;

}

#achievementAndLeaderboardContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
}

#gameIcon {
    width: 4vw;
    height: auto;
    margin-left: 1vw;
    margin-top: 4vh;
}

#logImg {
    width: 50vw;
    height: auto;
}

#gros {
    flex-grow: 1;
}

.selected {
    background-color: var(--bg_main)!important;
}

.disabled {
    background-color: var(--bg_secondary)!important;
}

.example::-webkit-scrollbar {
    display: none;
  }
  
.example {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  