*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

body {
    background : url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.gameContainer {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#clicker {
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/log1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*move up background image*/
    background-position-y: -30vh;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#clicker p {
    font-size: 5rem;
    color: #fff;
    font-weight: 700;
    margin-top: 2.5vh;
    width: fit-content;
}

#clicker button {
    width: 30vw;
    height: 80vh;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    margin-top: 5vh;
}

#panel {
    height: 90vh;
    width: 30vw;
    background-color: #745D44;
    border-radius: 10px 0 0 10px;
    color: white;
}

.timer {
    display: flex;
}

.nameAndTimer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
}

.statsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 30vh;
    background-color: #A58760;
    border-radius: 0.5rem;
}

#statsName {
    text-align: center;
    padding-bottom: 0.5rem;
}

.upgradeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
}

.upgrade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A58760;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    height: 8vh;
    border-radius: 0.5rem;
    user-select: none;
    padding-inline: 5%;
}
.upgradeLevel{
    width: 30%;
    min-width:30%;
    max-width: 30%;
    text-align: left;
}

.upgradeTitle {
    width: 100%;
    text-align: center;
}

.upgradePrice {
    width: 30%;
    min-width:30%;
    max-width: 30%;
    text-align: right;
}

#scrollUpgrade {
    overflow-y: scroll;
    height: 35vh;
    /* box-shadow: 0 4px 10px -5px black; */
}

#quantitySelectorContainer {
    display: flex;
    justify-content: space-evenly;
}

.upgradeQuantitySelector {
    width: 5vw;
    height: 5vh;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

#achievementAndLeaderboardContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
}

.gameIcon {
    width: 4vw;
    height: auto;
    margin-left: 1vw;
    margin-top: 4vh;
}

#logImg {
    width: 50vw;
    height: auto;
}

#gros {
    flex-grow: 1;
}

.selected {
    background-color: gray!important;
}